@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none; }

#index p {
  font-family: "Comfortaa", cursive;
  color: #56D9CD;
  font-size: 20px;
  text-transform: uppercase; }
  #index p span {
    color: #F5A503; }

#index .index-contenido {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 50%;
  font: 14.5em/1 Open Sans, Impact; }

#aboutme h1 {
  color: #F5A503;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5%; }

#aboutme p {
  font-family: "Comfortaa", cursive;
  color: #56D9CD;
  font-size: 20px; }
  #aboutme p span {
    color: #F5A503; }

#aboutme .about {
  margin-top: 5%; }

#aboutme .aboutme-item {
  padding: 5% 8%;
  background: rgba(235, 238, 237, 0.1); }
  #aboutme .aboutme-item p {
    color: #3AA1BF;
    font-size: 18px;
    letter-spacing: 1.5; }

#aboutme .aboutme-contenido {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  font: 14.5em/1 Open Sans, Impact; }

#skills h3 {
  color: #F5A503;
  font-family: "Open Sans", sans-serif; }

#skills .skills-contenido {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  font: 14.5em/1 Open Sans, Impact; }

.contact {
  max-width: 50%; }

header, .content, footer {
  font-family: "Open Sans", sans-serif; }

.d-n {
  display: none; }

.d-a {
  display: auto; }

.p-fr {
  position: fixed;
  right: 1rem;
  top: 1rem; }

.p-fl {
  position: fixed;
  left: 1rem;
  top: 1rem; }

.portfolio {
  position: absolute;
  top: -5%;
  left: 5%;
  right: 5%; }

.redes i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #56D9CD; }

#menu {
  position: fixed;
  bottom: 5%;
  left: 10%;
  right: 10%;
  z-index: 1000; }
  #menu .menu-item a {
    color: #F5A503;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s; }
  #menu .menu-item a:hover, #menu .menu-item a.active {
    color: #3AA1BF; }

#contacto {
  background: url("../img/contact.jpg");
  background-size: cover; }

.section {
  position: fixed;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0; }

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear; }

.text:nth-child(5n + 1) {
  stroke: #F5A503;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s; }

.text:nth-child(5n + 2) {
  stroke: #56D9CD;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s; }

.text:nth-child(5n + 3) {
  stroke: #F5A503;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s; }

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s; }

.text:nth-child(5n + 5) {
  stroke: #F5A503;
  -webkit-animation-delay: -6s;
  animation-delay: -6s; }

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }

@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }

/* Other styles */
html, body {
  height: 100%; }

body {
  background-size: .2em 100%;
  margin: 0;
  padding: 0;
  background: url("../img/fondo.png");
  background-size: cover; }
