extends ci/layout.jade
block content
	.row
		.col-md-6
			.text-center
				p DESARROLLADORA FRONTED
				p EGRESADA DE  INGENIERÍA DE SISTEMAS E INFORMATICA
				p VOLUNTARIA PMI
				p En Laboratoria he conocido el valor agregado de colaborar con otros, fortaleciendo mi capacidad de trabajo en equipo. Soy creativa, adaptable y capaz de trabajar bajo presión.
		.col-md-6
			img.contact(src="img/prueba.jpg")
