#aboutme.section
	.aboutme-contenido
		.row.text-center
			.aboutme
				.col-sm-6
					h1 ELIZABETH
					p 
						span#cod {
						| Desarrolladora Front-end 
						span#cod }
					.aboutme-item.text-center
						p En Laboratoria he conocido el valor agregado de colaborar con otros, fortaleciendo mi capacidad de trabajo en equipo. Soy creativa, adaptable y capaz de trabajar bajo presión.
			
				