#contact.section
	.contact-contenido
		.row.text-center
			.col-sm-6
				h1 ELIZABETH
				p 
					span#cod {
					| Desarrolladora Front-end
					span#cod }
				.contact-item
					p
						span.fa.fa-envelope
						|    elizabeth.qsaico@gmail.com
					ul.list-unstyled.list-inline.text-center
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-github-alt
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-linkedin
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-envelope
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-file-text