#contact.section
	.contact-contenido
		.row.text-center
			.col-sm-6
				h1 ELIZABETH
				p 
					span#cod {
					| Desarrolladora Front-end
					span#cod }
				.contact-item
					p
						a(href='mailto:elizabeth.qsaico@gmail.com' class="mail")
							span.fa.fa-envelope
							|    elizabeth.qsaico@gmail.com
					ul.list-unstyled.list-inline.text-center
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-github-alt
						li
							a(href='https://www.linkedin.com/in/elizabeth-mercedes-quispe-saico-00b5ba58' target='_blank')
								span.fa.fa-linkedin
						li
							a(href='EMQS-CV.pdf' class='download' download='EMQS-CV.pdf')
								span.fa.fa-file-text