#contact.section
	.contact-contenido
		.row.text-center
			.col-sm-6
				h1 ELIZABETH
				p 
					span#cod {  ยก
					| Desarrolladora Fronted
					span#cod }
				.contact-item
					span.fa.fa-envelope
					| elizabeth.qsaico@gmail.com
					ul.list-unstyled.text-left
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-github-alt
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-linkedin
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-envelope
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								span.fa.fa-file-text