footer
	.container
		#menu
			.row.text-center
				.col-sm-2.menu-item
					a(href='#index') INICIO
				.col-sm-3.menu-item
					a(href="#aboutme") ACERCA DE MÍ
				.col-sm-3.menu-item
					a(href="#skills") HABILIDADES
				.col-sm-2.menu-item
					a(href="#portfolio") PORTAFOLIO
				.col-sm-2.menu-item
					a(href="#contact") CONTACTO
		#footer.row
			p.text-right &copy Elizabeth M. Quispe Saico | 2016