footer
	.ff-menu
		.container
			.row.text-center
				.col-md-3.menu-item
					h2
						a(href="#") ACERCA DE MÍ
				.col-md-3.menu-item
					h2 
						a(href="#") HABILIDADES
				.col-md-3.menu-item
					h2 
						a(href="#") PORTAFOLIO
				.col-md-3.menu-item
					h2 
						a(href="#") CONTACTO