footer
	.container
		#menu
			ul.list-unstyled.list-inline.text-center.menu-item
				li
					a(href='#index') INICIO
				li
					a(href="#aboutme") ACERCA DE MÍ
				li
					a(href="#skills") HABILIDADES
				li
					a(href="#portfolio") PORTAFOLIO
				li
					a(href="#contact") CONTACTO
		#footer.row
			p.text-right &copy Elizabeth M. Quispe Saico | 2016