footer
	.container
		#menu
			.row.text-center
				.col-sm-3.menu-item
					a(href="#aboutme") ACERCA DE MÍ
				.col-sm-3.menu-item
					a(href="#skills") HABILIDADES
				.col-sm-3.menu-item
					a(href="#portfolio") PORTAFOLIO
				.col-sm-3.menu-item
					a(href="#contact") CONTACTO