footer
	.container
		#menu
			.row.text-center
				.col-sm-1.menu-item
					a(href='#index')
						i.fa.fa-home
				.col-sm-3.menu-item
					a(href="#aboutme") ACERCA DE MÍ
				.col-sm-3.menu-item
					a(href="#skills") HABILIDADES
				.col-sm-3.menu-item
					a(href="#portfolio") PORTAFOLIO
				.col-sm-2.menu-item
					a(href="#contact") CONTACTO