footer
	.ff-menu
		.container
			.row.text-center
				.col-md-3.menu-item
					h2
						a(href="aboutme.html") ACERCA DE MÍ
				.col-md-3.menu-item
					h2 
						a(href="skills.html") HABILIDADES
				.col-md-3.menu-item
					h2 
						a(href="portfolio.html") PORTAFOLIO
				.col-md-3.menu-item
					h2 
						a(href="contact.html") CONTACTO