header
	.container
		.row.redes
			.col-md-6
				ul.list-unstyled.p-fl
					li
						a(href='index.html')
							i.fa.fa-home
			.col-md-6
				ul.list-unstyled.p-fr
					li
						a(href='https://github.com/elizabethqsaico' target='_blank')
							i.fa.fa-github-alt
					li
						a(href='https://github.com/elizabethqsaico' target='_blank')
							i.fa.fa-linkedin
					li
						a(href='https://github.com/elizabethqsaico' target='_blank')
							i.fa.fa-envelope