header
	.container
		.row.redes
			#menu-redes
				.col-md-6
					ul.list-unstyled.p-fl
						li
							a(href='#index')
								i.fa.fa-home
				.col-md-6
					ul.list-unstyled.p-fr
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								i.fa.fa-github-alt
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								i.fa.fa-linkedin
						li
							a(href='https://github.com/elizabethqsaico' target='_blank')
								i.fa.fa-envelope