header
	.container
		.row.redes
			.col-md-6
				ul.list-unstyled.p-fl
					li
						a 
							i.fa.fa-home
			.col-md-6
				ul.list-unstyled.p-fr
					li
						a 
							i.fa.fa-github-alt
					li
						a
							i.fa.fa-linkedin
					li
						a
							i.fa.fa-envelope