html(lang='es-PE')
	include head.jade
	body
		include header.jade
		block content-default
			.container
				.content.text-center
					h1 ELIZABETH
					h3 < CODER CREATIVA >
					block content
		include footer.jade