html(lang='es-PE')
	include head.jade
	body
		include header.jade
		block content-default
			.container 
				#index.active.section
					.index-contenido
						svg#svg(viewbox='0 0 1320 300')
							// Symbol
							symbol#s-text
								text(text-anchor='middles', x='0', y='50%', dy='.35em')
									| ELIZABETH
							// Duplicate symbols
							use.text(xlink:href='#s-text')
							use.text(xlink:href='#s-text')
							use.text(xlink:href='#s-text')
							use.text(xlink:href='#s-text')
							use.text(xlink:href='#s-text')
						p 
							span#cod {
							| CODER CREATIVA PERSEVERANTE
							span#cod }
				include aboutme.jade
				include skills.jade
				include portfolio.jade
				include contact.jade
		include footer.jade