#portfolio.section
	.portfolio-contenido
		.portfolio-item
			.row
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_1.PNG', alt='La Republica')
						.overlay
							a(type='button' href='https://github.com/elizabethqsaico/Lab-LaRepublica' target='_blank') 
								h3 LA REPUBLICA
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_2.PNG', alt='CIPS-HC')
						.overlay
							a(type='button' href='https://github.com/elizabethqsaico/Lab-LaRepublica' target='_blank') 
								h3 CIPS-HC
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_3.PNG', alt='Esc. de Danza')
						.overlay
							a(type='button' href='https://github.com/elizabethqsaico/Lab-LaRepublica' target='_blank') 
								h3 Esc. de Danza
							| Ver
			.row
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_4.PNG', alt='User Testing')
						.overlay
							a(type='button' href='https://github.com/elizabethqsaico/Lab-LaRepublica' target='_blank') 
								h3 User Testing
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_5.png', alt='F. Accesories')
						.overlay
							a(type='button' href='https://github.com/elizabethqsaico/Lab-LaRepublica' target='_blank') 
								h3 F. Accesories
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_6.png', alt='Flatness')
						.overlay
							a(type='button' href='https://github.com/elizabethqsaico/Lab-LaRepublica' target='_blank') 
								h3 Flatness
							| Ver
		//-#wowslider-container0
			.ws_images
				ul
					li
						a(href='www')
							img#wows0_0(src='data0/images/work_1.jpg', alt='work_1', title='work_1')
						| tec use
					li
						a(href='www')
							img#wows0_1(src='data0/images/work_2.jpg', alt='work_2', title='work_2')
						| tec use
					li
						a(href='ww')
							img#wows0_2(src='data0/images/work_3.jpg', alt='work_3', title='work_3')
						| tec use
					li
						a(href='www')
							img#wows0_3(src='data0/images/work_4.jpg', alt='work_4', title='work_4')
						| tec use
			.ws_bullets
				div
					a(href='#wows0_0', title='work_1')
						span
							img(src='data0/tooltips/work_1.jpg', alt='work_1')
							| 1
					a(href='#wows0_1', title='work_2')
						span
							img(src='data0/tooltips/work_2.jpg', alt='work_2')
							| 2
					a(href='#wows0_2', title='work_3')
						span
							img(src='data0/tooltips/work_3.jpg', alt='work_3')
							| 3
					a(href='#wows0_3', title='work_4')
						span
							img(src='data0/tooltips/work_4.jpg', alt='work_4')
							| 4 -/
//-script(type='text/javascript', src='engine0/wowslider.js')
//-script(type='text/javascript', src='engine0/script.js')