#portfolio.section
	.portfolio-contenido
		.portfolio-item
			.row
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_1.PNG', alt='La Republica')
						.overlay
							a(type='button' href='https://elizabethqsaico.github.io/Lab-LaRepublica/assets/public/index.html' target='_blank') 
								h3 LA REPUBLICA
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_2.PNG', alt='CIPS-HC')
						.overlay
							a(type='button' href='https://elizabethqsaico.github.io/PROYECTO-CIPS-HC/' target='_blank') 
								h3 CIPS-HC
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_3.PNG', alt='Esc. de Danza')
						.overlay
							a(type='button' href='https://elizabethqsaico.github.io/Lab-EscuelaDanza/' target='_blank') 
								h3 Esc. de Danza
							| Ver
			.row
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_4.PNG', alt='User Testing')
						.overlay
							a(type='button' href='http://elizabethqsaico.github.io/Lab-Primes/' target='_blank') 
								h3 Lab Primes
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_5.png', alt='F. Accesories')
						.overlay
							a(type='button' href='https://elizabethqsaico.github.io/Lab-FashionAccesories/assets/public/index.html' target='_blank') 
								h3 F. Accesories
							| Ver
				.col-xs-12.col-sm-4
					.hovereffect
						img.img-responsive(src='img/work_6.png', alt='Flatness')
						.overlay
							a(type='button' href='https://elizabethqsaico.github.io/Lab-ResponsiveBlog/' target='_blank') 
								h3 Flatness
							| Ver
