//--#skills.section
	.skills-contenido
		.row.list-icon
			h4.text-left WEB
			hr
			.col-sm-2
				.item-icon.text-center
					img(src="img/html5-logo.png")
					p HTML
			.col-sm-2
				.item-icon.text-center
					img(src="img/jade-logo.png")
					p Jade
			.col-sm-2
				.item-icon.text-center
					img(src="img/css3-logo.png")
					p CSS
			.col-sm-2
				.item-icon.text-center
					img(src="img/sass-logo.png")
					p Sass
			.col-sm-2
				.item-icon.text-center
					img(src="img/js-logo.png")
					p JavaScript
			.col-sm-2
				.item-icon.text-center
					img(src="img/jquery-logo.png")
					p JQuery
		.row.list-icon
			h4.text-left DESKTOP
			hr
			.col-sm-2
				.item-icon.text-center
					img(src="img/vs-logo.png")
					p .NET
			.col-sm-2
				.item-icon.text-center
					img(src="img/sql-logo.png")
					p SQL Server
			.col-sm-2
				.item-icon.text-center
					img(src="img/mysql-logo.png")
					p MySQL
		.row.list-icon
			h4.text-left MOVIL
			hr
			.col-sm-2
				.item-icon.text-center
					img(src="img/android-logo.png")
					p Android Studio --//
#skills.section
	.skills-contenido
		.row
			h3.text-center MIS HABILIDADES
			.col-sm-4.col-xs-4
				.icon
					p WEB
					ul.list-unstyled.list-web
						li
							.web-item
								img(src="img/html5-logo.png")
							.web-item
								img(src="img/jade-logo.png")
						li
							.web-item
								img(src="img/css3-logo.png")
							.web-item
								img(src="img/sass-logo.png")
						li
							.web-item
								img(src="img/js-logo.png")
							.web-item
								img(src="img/jquery-logo.png")
			.col-md-4.col-xs-4
				.icon
					p DESKTOP
					ul.list-unstyled.list-desktop.text-center
						li
							img(src="img/vs-logo.png")
						li
							img(src="img/sql-logo.png")
						li
							img(src="img/mysql-logo.png")
			.col-md-4.col-xs-4
				.icon
					p MOVIL
					ul.list-unstyled.list-desktop.text-center
						li
							img(src="img/android-logo.png")