#skills.section
	.skills-contenido
		.row
			.col-sm-4
				h3 WEB
				.icon
					ul.list-unstyled.list-web
						li
							.web-item
								img(src="img/html5-logo.png")
							.web-item
								img(src="img/jade-logo.png")
						li
							.web-item
								img(src="img/css3-logo.png")
							.web-item
							img(src="img/sass-logo.png")
						li
							.web-item
								img(src="img/js-logo.png")
							.web-item
								img(src="img/jquery-logo.png")
			.col-md-4
				h3 DESKTOP
				.icon
					ul.list-unstyled.list-desktop.text-center
						li
							img(src="img/vs-logo.png")
						li
							img(src="img/sql-logo.png")
						li
							img(src="img/mysql-logo.png")
			.col-md-4
				h3 MOVIL
				.icon
					ul.list-unstyled.list-desktop.text-center
						li
							img(src="img/android-logo.png")
						li
							img(src="img/sqlite-logo.png")